html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
// css reset end
*{
  box-sizing: border-box;
  font-family: 'Noto Serif TC', serif;
}
p {
  line-height: 2rem;
}
.mt-30{
  margin-top: 30px;
}
.card {
  width: 100%;
  height:200px;
  border-radius: 30px;
  margin: 10px auto 0 auto;
  opacity: 0.3;
}
.card:hover{
  opacity: 1;
  transform: scale(1.05);
  transition: all .3s linear;
  -webkit-transition: all .3s linear;
}
/*nav bar css style*/
.navbar{
  position: fixed;
  z-index: 999;
  opacity: 0;
  .home-button .material-icons{
    font-size: 3rem;
    line-height: 64px;
    color: black;
  }
  .brand-logo {
    height:64px;
    width:200px;
    img {
      margin: 3% 0;
      height:80%;
      width:80%;
      padding: 5px;
    }
  }
  .sidenav-trigger {
    color:black;
  }
} 
/* sidenav css style*/
#side-nav-logo {
  margin-top: 20px;
}
.side-nav-icons {
    width: 70%;
    display: flex;
    justify-content:space-between;
    margin-left: 10%;
    h5{
      font-size: 2rem;
      margin:0;
    }
  }
/* parallax-container css style*/
.parallax-container {
  min-height: 564px;
  line-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .card {
    opacity: 1;
    width: 40%;
    max-width: 700px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.03);
    border-top: 30px;
    margin-top:80px;
    .card-image{
      object-fit: cover;
      margin-top: 5%;
      img{
        width: 50%;
        height: 100%;
        margin: 0 auto;
        border-radius: 50%;
      }
    }
    .card-content{
      width: 100%;
    }
    .card-title{
      width: 30%;
      margin: 0 auto;
      font-weight: 700;
    }
    .social{
      font-size: 2.5rem;
      margin-top: 20px;
    }
    .card-reveal {
      .card-title{
        margin: 20px auto 10px auto;
        position: relative;
      }
      #cancle-icon{
        position: absolute;
        top: -10px;
        right: 0;
      }
      .content{
        padding-top: 10px;
      }
    }
  }
}
/* container-about me css style*/
.container-about .card {
  background-size: cover;
  background-position: 50% center;
  .card-image .card-title{
    left: 50%;
    bottom: -200px;
    transform: translateX(-50%);
    white-space:nowrap;
    font-size: 20px;
  }
}
/* Front-skill css style */
.front-skills {
  background: #ddd;
  max-width: 100%;
  .carousel {
    height: 300px!important;
    width: 100%;
    background-size: cover;
    background-position: 25% 80%;
    background-image: url(https://upload.cc/i1/2021/01/02/eRsVoi.jpg);
    .carousel-item .skill-container .row{
      width: 70%;
      margin: 0 auto;
      img{
        width: 80px;
        height: 80px;
      }
    }
  }
}
/* Project Display Section css  */
.project-section {
  h6{
    margin-bottom: 30px;
  }
  .card {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    margin: 0 auto;
    opacity: 1;
    .card-image img{
      width: 100%;
      max-height: 200px;
      border-radius: 10px 10px 0 0;
      opacity: 1;
    }
    .card-content{
      padding: 10px;
      border-top: 1px solid #efebe9;
      text-align: center;
      font-size: 15px;
    }
    .card-reveal {
      padding: 5px;
      .card-title{
        font-size: 18px;
        margin-bottom: 5px;
        border-bottom: 1px solid #795548;
      }
      ul{
        margin: 0;
      } 
    }
    .card-reveal-connect{
      display: flex;
      justify-content:flex-end;
      margin: 2px 0 0 auto;
      font-size: 25px;
      i{
        margin: 10px 20px 0 0;
        font-size: 25px;
      }
    }
  }
  .project-content{
      width: 100%;
      max-width: 400px;
      height: 200px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;;
      text-align:left;
      h5{
        margin: 0 auto 15px 0;
        padding: 10px 0 ;
      }
  } 
}
/* footer css setting*/
.foot-margin{
  margin:3% auto;
}
@media only screen and (max-width : 993px) {
  /* card font size set */
  .card .card-image .card-title{
    font-size: 14px;
  }
  /* parallax-container css style*/
  .parallax-container .card {
    width: 75%;
    .card-title{
      width: 70%;
    }
  }
/* Front-skill css style */
  .front-skills .skill-container .row img{
    width: 50px;
    height: 50px;
    margin-top: 10px;
  }
}
/* footer setting*/
footer.page-footer {
  margin: 0;
}
